.cart-modal {
	.cart-overlay {
		backdrop-filter: blur(0.5px);
		background: rgba(0, 0, 0, 0.3);
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
	}
	
	.cart-panel {
		backdrop-filter: blur(24px);
		background: light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
		border-left: 1px solid rgb(64, 64, 64);
		bottom: 0;
		display: flex;
		flex-direction: column;
		padding: 1.5rem;
		position: fixed;
		right: 0;
		top: 0;
		width: 390px;
			
		&.empty {
			> div:last-child {
				align-items: center;
				justify-content: center;
				margin-top: 5rem;
				overflow: hidden;
				width: 100%;
			
				svg {
					height: 4rem;
				}
				
				p {
					font-size: 1.5rem;
					font-weight: 700;
					line-height: 2rem;
					margin-top: 1.5rem;
					text-align: center;
				}
			}
		}

		&:not(.empty) {
			> div:last-child {
				height: 100%;
				padding: .25rem;
			}
		}
	
		> div:first-child {
			align-items: center;
			display: flex;
			justify-content: space-between;
			
			p {
				font-size: 1.125rem;
				font-weight: 600;
			}
		}
		
		> div:last-child {
			display: flex;
			flex-direction: column;

			> a {
				background: rgb(37, 99, 235);
				border-radius: 9999px;
				color: rgb(255, 255, 255);
				display: block;
				font-size: .875rem;
				line-height: 1.25rem;
				opacity: .9;
				padding: .75rem;
				text-align: center;
				width: 100%;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
	
	.cart-lines {
		flex-grow: 1;
		padding: 1rem 0;

		li {
			border-bottom: 1px solid rgb(64, 64, 64);
		}
	}
	
	.cart-line-div {
		display: flex;
		justify-content: space-between;
		padding: 1rem .25rem;
		position: relative;
		width: 100%;
		
		a {
			display: flex;
			gap: 1rem;
			
			> div:last-child {
				display: flex;
				flex: 1 1 0%;
				flex-direction: column;
			}
			
			span {
				line-height: 1.25;
			}
			
			p {
				color: rgb(163, 163, 163);
				font-size: .875rem;
				line-height: 1.25rem;
			}
		}
		
		> div:last-child {
			display: flex;
			flex-direction: column;
			height: 4rem;
			justify-content: space-between;

			> p {
				display: flex;
				font-size: .875rem;
				justify-content: flex-end;
				line-height: 1.25rem;
				text-align: right;
				
				span {
					display: inline;
					margin-left: .25rem;
				}
			}
		}
	}

	.delete-div {
		margin: -.5rem 0 0 55px;
		position: absolute;
		z-index: 40;

		button {
			align-items: center;
			background: rgb(115, 115, 115);
			border-radius: 9999px;
			display: flex;
			height: 17px;
			justify-content: center;
			width: 17px;
		}
		
		svg {
			color: rgb(0, 0, 0);
			height: 1rem;
			margin: 0 1px;
			width: 1rem;
		}
	}

	.picture-box {
		background: light-dark(rgb(212, 212, 212), rgb(23, 23, 23));
		border-color: light-dark(rgb(212, 212, 212), rgb(64, 64, 64));
		height: 4rem;
		width: 4rem
	}

	.quantity-div {
		align-items: center;
		border: 1px solid rgb(64, 64, 64);
		border-radius: 9999px;
		display: flex;
		height: 2.25rem;
		margin-left: auto;
		
		> p {
			text-align: center;
			width: 1.5rem;
		}
		
		span {
			font-size: .875rem;
			line-height: 1.25rem;
		}
		
		button {
			align-items: center;
			display: flex;
			justify-content: center;
			padding: 0 .5rem;
			width: 36px;
		}
		
		svg {
			color: rgb(115, 115, 115);
			height: 1rem;
			width: 1rem;
		}
	}
	
	.cart-cost {
		color: rgb(163, 163, 163);
		font-size: .875rem;
		line-height: 1.25rem;
		padding: 1rem 0;
		
		> div {
			align-items: center;
			border-bottom: 1px solid rgb(64, 64, 64);
			display: flex;
			justify-content: space-between;
			margin: 0 0 .75rem;
			padding: .25rem 0;
			
			&:first-child {
				padding-top: 0;
			}
		}
		
		p {
			&:last-child {
				text-align: right;
			}
			
			&.amount {
				color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
				font-size: 1rem;
				line-height: 1.5rem;
			}
		}
	}
}