.page {
	width: 100%;

	> div {
		margin: 0 auto;
		max-width: 42rem;
		padding: 5rem 0;
	}
	
	h1 {
		font-weight: 700;
		margin: 0 0 2rem;
	}
	
	.prose {
		color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
		line-height: 1.75rem;
		margin: 0 0 2rem;
	}
}
